# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
.terraform.tfstate.lock.info
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.tfplan

# Lambda builds
src/upload-lambda/node_modules/
src/crop-lambda/node_modules/
src/**/*.zip

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
